---

---
<div class="partial controller" data-partial="components/falling-blocks" data-controller="agency-pkg-falling-blocks/partials/components/FallingBlocks">

  <div>

    {{#mixin "agency-pkg-falling-blocks/fragments/blocks"}}

      {{#content "content"}}{{/content}}

    {{/mixin}}

  </div>

  <script id="falling-blocks-block-i" type="text/x-handlebars-template">{{{mixin "agency-pkg-falling-blocks/elements/block/i"}}}</script>
  <script id="falling-blocks-block-l" type="text/x-handlebars-template">{{{mixin "agency-pkg-falling-blocks/elements/block/l"}}}</script>
  <script id="falling-blocks-block-o" type="text/x-handlebars-template">{{{mixin "agency-pkg-falling-blocks/elements/block/o"}}}</script>
  <script id="falling-blocks-block-s" type="text/x-handlebars-template">{{{mixin "agency-pkg-falling-blocks/elements/block/s"}}}</script>
  <script id="falling-blocks-block-t" type="text/x-handlebars-template">{{{mixin "agency-pkg-falling-blocks/elements/block/t"}}}</script>
  <script id="falling-blocks-block-z" type="text/x-handlebars-template">{{{mixin "agency-pkg-falling-blocks/elements/block/z"}}}</script>

</div>
